body {
  margin:0px;
  background-color:rgba(232, 234, 241, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2260px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:532px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:2121px;
  width:960px;
  height:532px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:33px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:2078px;
  width:192px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:158px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:2379px;
  width:542px;
  height:158px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:65px;
  width:538px;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u48_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:2535px;
  width:178px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u49_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:2502px;
  width:81px;
  height:28px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:2458px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:263px;
  height:8px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:-4px;
  width:8px;
  height:66px;
}
#u50_seg2 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:54px;
  width:21px;
  height:8px;
}
#u50_seg3 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:49px;
  width:19px;
  height:18px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:117px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:2292px;
  width:176px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u52_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:2254px;
  width:121px;
  height:28px;
  text-align:right;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:2268px;
  width:0px;
  height:0px;
  text-align:right;
}
#u53_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:296px;
  height:8px;
}
#u53_seg1 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:-1px;
  width:8px;
  height:5px;
}
#u53_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:2254px;
  width:82px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:2263px;
  width:0px;
  height:0px;
  text-align:right;
}
#u55_seg0 {
  border-width:0px;
  position:absolute;
  left:-531px;
  top:-4px;
  width:531px;
  height:8px;
}
#u55_seg1 {
  border-width:0px;
  position:absolute;
  left:-531px;
  top:-1px;
  width:8px;
  height:5px;
}
#u55_seg2 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-9px;
  width:19px;
  height:18px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:-314px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:2221px;
  width:82px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:2230px;
  width:0px;
  height:0px;
  text-align:right;
}
#u57_seg0 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-4px;
  width:526px;
  height:8px;
}
#u57_seg1 {
  border-width:0px;
  position:absolute;
  left:-526px;
  top:-4px;
  width:8px;
  height:5px;
}
#u57_seg2 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-9px;
  width:19px;
  height:18px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:-312px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:2075px;
  width:323px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u59_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:2420px;
  width:97px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:2429px;
  width:0px;
  height:0px;
  text-align:right;
}
#u60_seg0 {
  border-width:0px;
  position:absolute;
  left:-242px;
  top:-4px;
  width:246px;
  height:8px;
}
#u60_seg1 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-9px;
  width:19px;
  height:18px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:2627px;
  width:176px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u62_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:2589px;
  width:61px;
  height:28px;
  text-align:right;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:2603px;
  width:0px;
  height:0px;
  text-align:right;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:413px;
  height:8px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:154px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:532px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:1515px;
  width:960px;
  height:532px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:33px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:1472px;
  width:192px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:274px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:1773px;
  width:542px;
  height:274px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:123px;
  width:538px;
  word-wrap:break-word;
}
#u69_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:100px;
  background:inherit;
  background-color:rgba(0, 204, 255, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:1773px;
  width:33px;
  height:100px;
  opacity:0.4;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:1929px;
  width:178px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:1896px;
  width:81px;
  height:28px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:1051px;
  top:1910px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:280px;
  height:8px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:-9px;
  width:19px;
  height:18px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:1686px;
  width:176px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:1648px;
  width:121px;
  height:28px;
  text-align:right;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1662px;
  width:0px;
  height:0px;
  text-align:right;
}
#u76_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:296px;
  height:8px;
}
#u76_seg1 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:-1px;
  width:8px;
  height:5px;
}
#u76_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1648px;
  width:82px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1657px;
  width:0px;
  height:0px;
  text-align:right;
}
#u78_seg0 {
  border-width:0px;
  position:absolute;
  left:-531px;
  top:-4px;
  width:531px;
  height:8px;
}
#u78_seg1 {
  border-width:0px;
  position:absolute;
  left:-531px;
  top:-1px;
  width:8px;
  height:5px;
}
#u78_seg2 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-9px;
  width:19px;
  height:18px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:-314px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1615px;
  width:82px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1624px;
  width:0px;
  height:0px;
  text-align:right;
}
#u80_seg0 {
  border-width:0px;
  position:absolute;
  left:-518px;
  top:-4px;
  width:522px;
  height:8px;
}
#u80_seg1 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-9px;
  width:19px;
  height:18px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:-309px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:1469px;
  width:323px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1814px;
  width:97px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:1823px;
  width:0px;
  height:0px;
  text-align:right;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:-242px;
  top:-4px;
  width:246px;
  height:8px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-9px;
  width:19px;
  height:18px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:-171px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:532px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:692px;
  width:960px;
  height:532px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:33px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:649px;
  width:214px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
  text-align:center;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:532px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:692px;
  width:960px;
  height:532px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u90_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:1160px;
  width:176px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:1122px;
  width:61px;
  height:28px;
  text-align:right;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:1136px;
  width:0px;
  height:0px;
  text-align:right;
}
#u92_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:152px;
  height:8px;
}
#u92_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:649px;
  width:320px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1269px;
  width:526px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:526px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1267px;
  width:50px;
  height:20px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1292px;
  width:432px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1290px;
  width:50px;
  height:20px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1315px;
  width:373px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1313px;
  width:50px;
  height:20px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1338px;
  width:363px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:7px;
  color:#9B9B9B;
  text-align:center;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:1356px;
  width:29px;
  height:9px;
  font-size:7px;
  color:#9B9B9B;
  text-align:center;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1336px;
  width:50px;
  height:20px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:647px;
  top:1371px;
  width:363px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:1369px;
  width:50px;
  height:20px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:612px;
  top:1262px;
  width:0px;
  height:0px;
  text-align:right;
}
#u107_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-116px;
  width:8px;
  height:120px;
}
#u107_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-13px;
  width:18px;
  height:19px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:532px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:91px;
  width:960px;
  height:532px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:33px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:48px;
  width:184px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:600;
  font-style:normal;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  white-space:nowrap;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:404px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:702px;
  top:141px;
  width:518px;
  height:404px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:188px;
  width:514px;
  word-wrap:break-word;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u114_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:365px;
  width:178px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:332px;
  width:81px;
  height:28px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:1220px;
  top:343px;
  width:0px;
  height:0px;
}
#u116_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u116_seg1 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:-9px;
  width:19px;
  height:18px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:1327px;
  top:131px;
  width:178px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  word-wrap:break-word;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:147px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u118_seg1 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:-9px;
  width:19px;
  height:18px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:106px;
  width:0px;
  height:0px;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-4px;
  width:8px;
  height:45px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:-21px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:387px;
  width:176px;
  height:54px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  word-wrap:break-word;
}
#u121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:349px;
  width:121px;
  height:28px;
  text-align:right;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:363px;
  width:0px;
  height:0px;
  text-align:right;
}
#u122_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:152px;
  height:8px;
}
#u122_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:162px;
  width:82px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:170px;
  width:0px;
  height:0px;
  text-align:right;
}
#u124_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:133px;
  height:8px;
}
#u124_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:138px;
  width:82px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:146px;
  width:0px;
  height:0px;
  text-align:right;
}
#u126_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:133px;
  height:8px;
}
#u126_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:532px;
  top:45px;
  width:323px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
